<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Contact Page</h1>
     </hr>
     <br>
     <h4>For any query contact me at this email</h4>
     <p><i>aabhinavibajaj@gmail.com</i></p>
     <br>
     <h4>This is my contact number:</h4>
     <p><i>7274884000</i></p>
     <br>
     <h3>Hello guys I am a 3rd year student at Thapar Univeristy</h3>
     <h3>You can contact me anytime if you need any help.</h3>
    {% block body %}

    <style>
        /* https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg */

        body {
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9RCJNKmAGs_lOIQ9IFu2qgIZIvk3IyTcYsw&usqp=CAU');
            text-align: center;
           font-size: larger;
           font-style: oblique;
           padding: 1rem;
            margin-top: 2rem;
        }
        
        </style>
    {% endblock %}
</body>
</html>