{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    
</head>
<body>
    {% block body %}
    <style>
        /* https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg */
        body {
          background-image: url('https://cdn.wallpapersafari.com/88/4/uyMe8v.jpg');
           text-align: center;
           font-size: larger;
           padding: 5rem;
            margin-top: 4rem;
        }
        
        </style>
    <!-- <button class="btn-warning" type="submit">index</button> -->
    <h2>Your Order has been Placed</h2>
    <p>Thanks for Shopping with us</p>
    <hr/>
    
    <button class="btn btn-light" type="submit"><a href="{% url 'start' %}">Continue Shopping</a></button>
    {% endblock %}
    
</body>
</html>